web-service-clients/src/main/resources/META-INF/administrative-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/administrative" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/administrative" name="administrative-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/casemanagement/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/cadastre/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/administrative/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/bulkoperations" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/administrative" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=8"/>
</xsd:schema>
</types>
<message name="SaveBaUnit">
<part name="parameters" element="tns:SaveBaUnit"/>
</message>
<message name="SaveBaUnitResponse">
<part name="parameters" element="tns:SaveBaUnitResponse"/>
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault"/>
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault"/>
</message>
<message name="SOLAAccessFault">
<part name="fault" element="tns:SOLAAccessFault"/>
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault"/>
</message>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection"/>
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse"/>
</message>
<message name="GetBaUnitById">
<part name="parameters" element="tns:GetBaUnitById"/>
</message>
<message name="GetBaUnitByIdResponse">
<part name="parameters" element="tns:GetBaUnitByIdResponse"/>
</message>
<message name="GetBaUnitsByServiceId">
<part name="parameters" element="tns:GetBaUnitsByServiceId"/>
</message>
<message name="GetBaUnitsByServiceIdResponse">
<part name="parameters" element="tns:GetBaUnitsByServiceIdResponse"/>
</message>
<message name="GetBaUnitByCode">
<part name="parameters" element="tns:GetBaUnitByCode"/>
</message>
<message name="GetBaUnitByCodeResponse">
<part name="parameters" element="tns:GetBaUnitByCodeResponse"/>
</message>
<message name="GetBaUnitAreas">
<part name="parameters" element="tns:GetBaUnitAreas"/>
</message>
<message name="GetBaUnitAreasResponse">
<part name="parameters" element="tns:GetBaUnitAreasResponse"/>
</message>
<message name="CreateBaUnitArea">
<part name="parameters" element="tns:CreateBaUnitArea"/>
</message>
<message name="CreateBaUnitAreaResponse">
<part name="parameters" element="tns:CreateBaUnitAreaResponse"/>
</message>
<message name="GetBaUnitWithCadObject">
<part name="parameters" element="tns:GetBaUnitWithCadObject"/>
</message>
<message name="GetBaUnitWithCadObjectResponse">
<part name="parameters" element="tns:GetBaUnitWithCadObjectResponse"/>
</message>
<message name="PublicDisplay">
<part name="parameters" element="tns:PublicDisplay"/>
</message>
<message name="PublicDisplayResponse">
<part name="parameters" element="tns:PublicDisplayResponse"/>
</message>
<message name="SOLAValidationFault">
<part name="fault" element="tns:SOLAValidationFault"/>
</message>
<message name="GetSysRegManagement">
<part name="parameters" element="tns:GetSysRegManagement"/>
</message>
<message name="GetSysRegManagementResponse">
<part name="parameters" element="tns:GetSysRegManagementResponse"/>
</message>
<message name="GetSysRegStatus">
<part name="parameters" element="tns:GetSysRegStatus"/>
</message>
<message name="GetSysRegStatusResponse">
<part name="parameters" element="tns:GetSysRegStatusResponse"/>
</message>
<message name="GetSysRegProgress">
<part name="parameters" element="tns:GetSysRegProgress"/>
</message>
<message name="GetSysRegProgressResponse">
<part name="parameters" element="tns:GetSysRegProgressResponse"/>
</message>
<message name="CreateDispute">
<part name="parameters" element="tns:CreateDispute"/>
</message>
<message name="CreateDisputeResponse">
<part name="parameters" element="tns:CreateDisputeResponse"/>
</message>
<message name="SaveDisputeComments">
<part name="parameters" element="tns:SaveDisputeComments"/>
</message>
<message name="SaveDisputeCommentsResponse">
<part name="parameters" element="tns:SaveDisputeCommentsResponse"/>
</message>
<message name="getDisputeById">
<part name="parameters" element="tns:getDisputeById"/>
</message>
<message name="getDisputeByIdResponse">
<part name="parameters" element="tns:getDisputeByIdResponse"/>
</message>
<message name="getDisputeByNr">
<part name="parameters" element="tns:getDisputeByNr"/>
</message>
<message name="getDisputeByNrResponse">
<part name="parameters" element="tns:getDisputeByNrResponse"/>
</message>
<message name="getDisputeByUser">
<part name="parameters" element="tns:getDisputeByUser"/>
</message>
<message name="getDisputeByUserResponse">
<part name="parameters" element="tns:getDisputeByUserResponse"/>
</message>
<message name="getDisputeCommentsById">
<part name="parameters" element="tns:getDisputeCommentsById"/>
</message>
<message name="getDisputeCommentsByIdResponse">
<part name="parameters" element="tns:getDisputeCommentsByIdResponse"/>
</message>
<message name="saveDisputeParty">
<part name="parameters" element="tns:saveDisputeParty"/>
</message>
<message name="saveDisputePartyResponse">
<part name="parameters" element="tns:saveDisputePartyResponse"/>
</message>
<message name="getDisputePartyById">
<part name="parameters" element="tns:getDisputePartyById"/>
</message>
<message name="getDisputePartyByIdResponse">
<part name="parameters" element="tns:getDisputePartyByIdResponse"/>
</message>
<message name="CreateBaUnit">
<part name="parameters" element="tns:CreateBaUnit"/>
</message>
<message name="CreateBaUnitResponse">
<part name="parameters" element="tns:CreateBaUnitResponse"/>
</message>
<message name="calculateGroundRent">
<part name="parameters" element="tns:calculateGroundRent"/>
</message>
<message name="calculateGroundRentResponse">
<part name="parameters" element="tns:calculateGroundRentResponse"/>
</message>
<message name="calculateDutyOnGroundRent">
<part name="parameters" element="tns:calculateDutyOnGroundRent"/>
</message>
<message name="calculateDutyOnGroundRentResponse">
<part name="parameters" element="tns:calculateDutyOnGroundRentResponse"/>
</message>
<message name="getDispute">
<part name="parameters" element="tns:getDispute"/>
</message>
<message name="getDisputeResponse">
<part name="parameters" element="tns:getDisputeResponse"/>
</message>
<message name="SaveDispute">
<part name="parameters" element="tns:SaveDispute"/>
</message>
<message name="SaveDisputeResponse">
<part name="parameters" element="tns:SaveDisputeResponse"/>
</message>
<message name="GetSysRegPubDisParcelNameByLocation">
<part name="parameters" element="tns:GetSysRegPubDisParcelNameByLocation"/>
</message>
<message name="GetSysRegPubDisParcelNameByLocationResponse">
<part name="parameters" element="tns:GetSysRegPubDisParcelNameByLocationResponse"/>
</message>
<message name="GetSysRegPubDisOwnerNameByLocation">
<part name="parameters" element="tns:GetSysRegPubDisOwnerNameByLocation"/>
</message>
<message name="GetSysRegPubDisOwnerNameByLocationResponse">
<part name="parameters" element="tns:GetSysRegPubDisOwnerNameByLocationResponse"/>
</message>
<message name="GetSysRegPubDisStateLandByLocation">
<part name="parameters" element="tns:GetSysRegPubDisStateLandByLocation"/>
</message>
<message name="GetSysRegPubDisStateLandByLocationResponse">
<part name="parameters" element="tns:GetSysRegPubDisStateLandByLocationResponse"/>
</message>
<portType name="Administrative">
<operation name="SaveBaUnit">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnitRequest" message="tns:SaveBaUnit"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnitResponse" message="tns:SaveBaUnitResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/OptimisticLockingFault"/>
</operation>
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CheckConnectionRequest" message="tns:CheckConnection"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
</operation>
<operation name="GetBaUnitById">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByIdRequest" message="tns:GetBaUnitById"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByIdResponse" message="tns:GetBaUnitByIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitById/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitById/Fault/UnhandledFault"/>
</operation>
<operation name="GetBaUnitsByServiceId">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceIdRequest" message="tns:GetBaUnitsByServiceId"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceIdResponse" message="tns:GetBaUnitsByServiceIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceId/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceId/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceId/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetBaUnitByCode">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCodeRequest" message="tns:GetBaUnitByCode"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCodeResponse" message="tns:GetBaUnitByCodeResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCode/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCode/Fault/UnhandledFault"/>
</operation>
<operation name="GetBaUnitAreas">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreasRequest" message="tns:GetBaUnitAreas"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreasResponse" message="tns:GetBaUnitAreasResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreas/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreas/Fault/UnhandledFault"/>
</operation>
<operation name="CreateBaUnitArea">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitAreaRequest" message="tns:CreateBaUnitArea"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitAreaResponse" message="tns:CreateBaUnitAreaResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/OptimisticLockingFault"/>
</operation>
<operation name="GetBaUnitWithCadObject">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObjectRequest" message="tns:GetBaUnitWithCadObject"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObjectResponse" message="tns:GetBaUnitWithCadObjectResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObject/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObject/Fault/UnhandledFault"/>
</operation>
<operation name="PublicDisplay">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplayRequest" message="tns:PublicDisplay"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplayResponse" message="tns:PublicDisplayResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/SOLAValidationFault"/>
</operation>
<operation name="GetSysRegManagement">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagementRequest" message="tns:GetSysRegManagement"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagementResponse" message="tns:GetSysRegManagementResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagement/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagement/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagement/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSysRegStatus">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatusRequest" message="tns:GetSysRegStatus"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatusResponse" message="tns:GetSysRegStatusResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatus/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatus/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatus/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSysRegProgress">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgressRequest" message="tns:GetSysRegProgress"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgressResponse" message="tns:GetSysRegProgressResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgress/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgress/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgress/Fault/SOLAAccessFault"/>
</operation>
<operation name="CreateDispute">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateDisputeRequest" message="tns:CreateDispute"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateDisputeResponse" message="tns:CreateDisputeResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateDispute/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateDispute/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateDispute/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateDispute/Fault/OptimisticLockingFault"/>
</operation>
<operation name="SaveDisputeComments">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDisputeCommentsRequest" message="tns:SaveDisputeComments"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDisputeCommentsResponse" message="tns:SaveDisputeCommentsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDisputeComments/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDisputeComments/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDisputeComments/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDisputeComments/Fault/OptimisticLockingFault"/>
</operation>
<operation name="getDisputeById">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByIdRequest" message="tns:getDisputeById"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByIdResponse" message="tns:getDisputeByIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeById/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeById/Fault/UnhandledFault"/>
</operation>
<operation name="getDisputeByNr">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByNrRequest" message="tns:getDisputeByNr"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByNrResponse" message="tns:getDisputeByNrResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByNr/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByNr/Fault/UnhandledFault"/>
</operation>
<operation name="getDisputeByUser">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByUserRequest" message="tns:getDisputeByUser"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByUserResponse" message="tns:getDisputeByUserResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByUser/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeByUser/Fault/UnhandledFault"/>
</operation>
<operation name="getDisputeCommentsById">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeCommentsByIdRequest" message="tns:getDisputeCommentsById"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeCommentsByIdResponse" message="tns:getDisputeCommentsByIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeCommentsById/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeCommentsById/Fault/UnhandledFault"/>
</operation>
<operation name="saveDisputeParty">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/saveDisputePartyRequest" message="tns:saveDisputeParty"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/saveDisputePartyResponse" message="tns:saveDisputePartyResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/saveDisputeParty/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/saveDisputeParty/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/saveDisputeParty/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/saveDisputeParty/Fault/OptimisticLockingFault"/>
</operation>
<operation name="getDisputePartyById">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputePartyByIdRequest" message="tns:getDisputePartyById"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputePartyByIdResponse" message="tns:getDisputePartyByIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputePartyById/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputePartyById/Fault/UnhandledFault"/>
</operation>
<operation name="CreateBaUnit">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitRequest" message="tns:CreateBaUnit"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitResponse" message="tns:CreateBaUnitResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/OptimisticLockingFault"/>
</operation>
<operation name="calculateGroundRent">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateGroundRentRequest" message="tns:calculateGroundRent"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateGroundRentResponse" message="tns:calculateGroundRentResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateGroundRent/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateGroundRent/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateGroundRent/Fault/SOLAAccessFault"/>
</operation>
<operation name="calculateDutyOnGroundRent">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateDutyOnGroundRentRequest" message="tns:calculateDutyOnGroundRent"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateDutyOnGroundRentResponse" message="tns:calculateDutyOnGroundRentResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateDutyOnGroundRent/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateDutyOnGroundRent/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/calculateDutyOnGroundRent/Fault/SOLAAccessFault"/>
</operation>
<operation name="getDispute">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeRequest" message="tns:getDispute"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/getDisputeResponse" message="tns:getDisputeResponse"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDispute/Fault/SOLAAccessFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDispute/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/getDispute/Fault/UnhandledFault"/>
</operation>
<operation name="SaveDispute">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDisputeRequest" message="tns:SaveDispute"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDisputeResponse" message="tns:SaveDisputeResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDispute/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDispute/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDispute/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDispute/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveDispute/Fault/SOLAValidationFault"/>
</operation>
<operation name="GetSysRegPubDisParcelNameByLocation">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocationRequest" message="tns:GetSysRegPubDisParcelNameByLocation"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocationResponse" message="tns:GetSysRegPubDisParcelNameByLocationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/SOLAAccessFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/OptimisticLockingFault"/>
</operation>
<operation name="GetSysRegPubDisOwnerNameByLocation">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocationRequest" message="tns:GetSysRegPubDisOwnerNameByLocation"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocationResponse" message="tns:GetSysRegPubDisOwnerNameByLocationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/SOLAAccessFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/OptimisticLockingFault"/>
</operation>
<operation name="GetSysRegPubDisStateLandByLocation">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocationRequest" message="tns:GetSysRegPubDisStateLandByLocation"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocationResponse" message="tns:GetSysRegPubDisStateLandByLocationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/SOLAAccessFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/OptimisticLockingFault"/>
</operation>
</portType>
<binding name="AdministrativePortBinding" type="tns:Administrative">
    <wsp:PolicyReference URI="#AdministrativePortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SaveBaUnit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="CheckConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetBaUnitById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitsByServiceId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitAreas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="CreateBaUnitArea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitWithCadObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="PublicDisplay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegManagement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegProgress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="CreateDispute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="SaveDisputeComments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="getDisputeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="getDisputeByNr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="getDisputeByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="getDisputeCommentsById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="saveDisputeParty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="getDisputePartyById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="CreateBaUnit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="calculateGroundRent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="calculateDutyOnGroundRent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="getDispute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="SaveDispute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegPubDisParcelNameByLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegPubDisOwnerNameByLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegPubDisStateLandByLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="administrative-service">
<port name="AdministrativePort" binding="tns:AdministrativePortBinding">
<soap:address location="http://localhost:8080/sola/webservices/administrative-service"/>
</port>
</service>
    <wsp:Policy wsu:Id="AdministrativePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>