web-service-clients/src/main/resources/META-INF/landidentification-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/landidentification" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/landidentification" name="landidentification-service">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/landidentification" schemaLocation="http://localhost:8080/sola/webservices/landidentification-service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/landidentification-service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/landidentification" schemaLocation="http://localhost:8080/sola/webservices/landidentification-service?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/landidentification-service?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/billing" schemaLocation="http://localhost:8080/sola/webservices/landidentification-service?xsd=5"/>
</xsd:schema>
</types>
<message name="checkConnection">
<part name="parameters" element="tns:checkConnection"/>
</message>
<message name="checkConnectionResponse">
<part name="parameters" element="tns:checkConnectionResponse"/>
</message>
<message name="getParty">
<part name="parameters" element="tns:getParty"/>
</message>
<message name="getPartyResponse">
<part name="parameters" element="tns:getPartyResponse"/>
</message>
<message name="SOLAAccessFault">
<part name="fault" element="tns:SOLAAccessFault"/>
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault"/>
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault"/>
</message>
<message name="saveParty">
<part name="parameters" element="tns:saveParty"/>
</message>
<message name="savePartyResponse">
<part name="parameters" element="tns:savePartyResponse"/>
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault"/>
</message>
<message name="SOLAValidationFault">
<part name="fault" element="tns:SOLAValidationFault"/>
</message>
<portType name="LandIdentification">
<operation name="checkConnection">
<input wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/checkConnectionRequest" message="tns:checkConnection"/>
<output wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/checkConnectionResponse" message="tns:checkConnectionResponse"/>
</operation>
<operation name="getParty">
<input wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/getPartyRequest" message="tns:getParty"/>
<output wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/getPartyResponse" message="tns:getPartyResponse"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/getParty/Fault/SOLAAccessFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/getParty/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/getParty/Fault/UnhandledFault"/>
</operation>
<operation name="saveParty">
<input wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/savePartyRequest" message="tns:saveParty"/>
<output wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/savePartyResponse" message="tns:savePartyResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/saveParty/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/saveParty/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/saveParty/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/saveParty/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/landidentification/LandIdentification/saveParty/Fault/SOLAValidationFault"/>
</operation>
</portType>
<binding name="LandIdentificationPortBinding" type="tns:LandIdentification">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="saveParty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="landidentification-service">
<port name="LandIdentificationPort" binding="tns:LandIdentificationPortBinding">
<soap:address location="http://localhost:8080/sola/webservices/landidentification-service"/>
</port>
</service>
<wsp:Policy wsu:Id="LandIdentificationPortBindingPolicy">
    <wsp:ExactlyOne>
        <wsp:All>
            <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>
        </wsp:All>
    </wsp:ExactlyOne>
</wsp:Policy>
</definitions>