web-service-clients/src/main/resources/META-INF/referencedata-service.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/referencedata" name="referencedata-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/referencedata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservices.sola.org/transferobjects/referencedata/" schemaLocation="ReferencedataService_schema1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="ReferencedataService_schema2.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservices.sola.org/referencedata" schemaLocation="ReferencedataService_schema3.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="ReferencedataService_schema4.xsd"/>
        </xsd:schema>
    </types>
    <message name="GetRRRTypes">
        <part name="parameters" element="tns:GetRRRTypes"/>
    </message>
    <message name="GetRRRTypesResponse">
        <part name="parameters" element="tns:GetRRRTypesResponse"/>
    </message>
    <message name="SOLAFault">
        <part name="fault" element="tns:SOLAFault"/>
    </message>
    <message name="UnhandledFault">
        <part name="fault" element="tns:UnhandledFault"/>
    </message>
    <message name="SOLAAccessFault">
        <part name="fault" element="tns:SOLAAccessFault"/>
    </message>
    <message name="GetIdTypes">
        <part name="parameters" element="tns:GetIdTypes"/>
    </message>
    <message name="GetIdTypesResponse">
        <part name="parameters" element="tns:GetIdTypesResponse"/>
    </message>
    <message name="GetDeedTypes">
        <part name="parameters" element="tns:GetDeedTypes"/>
    </message>
    <message name="GetDeedTypesResponse">
        <part name="parameters" element="tns:GetDeedTypesResponse"/>
    </message>
    <message name="getLegalTypes">
        <part name="parameters" element="tns:getLegalTypes"/>
    </message>
    <message name="getLegalTypesResponse">
        <part name="parameters" element="tns:getLegalTypesResponse"/>
    </message>
    <message name="GetLeaseTypes">
        <part name="parameters" element="tns:GetLeaseTypes"/>
    </message>
    <message name="GetLeaseTypesResponse">
        <part name="parameters" element="tns:GetLeaseTypesResponse"/>
    </message>
    <message name="GetPartyRoles">
        <part name="parameters" element="tns:GetPartyRoles"/>
    </message>
    <message name="GetPartyRolesResponse">
        <part name="parameters" element="tns:GetPartyRolesResponse"/>
    </message>
    <message name="GetPartyTypes">
        <part name="parameters" element="tns:GetPartyTypes"/>
    </message>
    <message name="GetPartyTypesResponse">
        <part name="parameters" element="tns:GetPartyTypesResponse"/>
    </message>
    <message name="CheckConnection">
        <part name="parameters" element="tns:CheckConnection"/>
    </message>
    <message name="CheckConnectionResponse">
        <part name="parameters" element="tns:CheckConnectionResponse"/>
    </message>
    <message name="GetPresentationFormTypes">
        <part name="parameters" element="tns:GetPresentationFormTypes"/>
    </message>
    <message name="GetPresentationFormTypesResponse">
        <part name="parameters" element="tns:GetPresentationFormTypesResponse"/>
    </message>
    <message name="GetParcelJurisdictionTypes">
        <part name="parameters" element="tns:GetParcelJurisdictionTypes"/>
    </message>
    <message name="GetParcelJurisdictionTypesResponse">
        <part name="parameters" element="tns:GetParcelJurisdictionTypesResponse"/>
    </message>
    <message name="getApplicationForms">
        <part name="parameters" element="tns:getApplicationForms"/>
    </message>
    <message name="getApplicationFormsResponse">
        <part name="parameters" element="tns:getApplicationFormsResponse"/>
    </message>
    <message name="GetCadastreObjectTypes">
        <part name="parameters" element="tns:GetCadastreObjectTypes"/>
    </message>
    <message name="GetCadastreObjectTypesResponse">
        <part name="parameters" element="tns:GetCadastreObjectTypesResponse"/>
    </message>
    <message name="GetDisputeCategory">
        <part name="parameters" element="tns:GetDisputeCategory"/>
    </message>
    <message name="GetDisputeCategoryResponse">
        <part name="parameters" element="tns:GetDisputeCategoryResponse"/>
    </message>
    <message name="GetApplicationStageTypes">
        <part name="parameters" element="tns:GetApplicationStageTypes"/>
    </message>
    <message name="GetApplicationStageTypesResponse">
        <part name="parameters" element="tns:GetApplicationStageTypesResponse"/>
    </message>
    <message name="GetBrTechnicalTypes">
        <part name="parameters" element="tns:GetBrTechnicalTypes"/>
    </message>
    <message name="GetBrTechnicalTypesResponse">
        <part name="parameters" element="tns:GetBrTechnicalTypesResponse"/>
    </message>
    <message name="GetRoadClassType">
        <part name="parameters" element="tns:GetRoadClassType"/>
    </message>
    <message name="GetRoadClassTypeResponse">
        <part name="parameters" element="tns:GetRoadClassTypeResponse"/>
    </message>
    <message name="getApplicationForm">
        <part name="parameters" element="tns:getApplicationForm"/>
    </message>
    <message name="getApplicationFormResponse">
        <part name="parameters" element="tns:getApplicationFormResponse"/>
    </message>
    <message name="GetBrValidationTargetTypes">
        <part name="parameters" element="tns:GetBrValidationTargetTypes"/>
    </message>
    <message name="GetBrValidationTargetTypesResponse">
        <part name="parameters" element="tns:GetBrValidationTargetTypesResponse"/>
    </message>
    <message name="GetBrSeverityTypes">
        <part name="parameters" element="tns:GetBrSeverityTypes"/>
    </message>
    <message name="GetBrSeverityTypesResponse">
        <part name="parameters" element="tns:GetBrSeverityTypesResponse"/>
    </message>
    <message name="GetBaUnitRelTypes">
        <part name="parameters" element="tns:GetBaUnitRelTypes"/>
    </message>
    <message name="GetBaUnitRelTypesResponse">
        <part name="parameters" element="tns:GetBaUnitRelTypesResponse"/>
    </message>
    <message name="GetTypeActions">
        <part name="parameters" element="tns:GetTypeActions"/>
    </message>
    <message name="GetTypeActionsResponse">
        <part name="parameters" element="tns:GetTypeActionsResponse"/>
    </message>
    <message name="GetDisputeType">
        <part name="parameters" element="tns:GetDisputeType"/>
    </message>
    <message name="GetDisputeTypeResponse">
        <part name="parameters" element="tns:GetDisputeTypeResponse"/>
    </message>
    <message name="GetGenderTypes">
        <part name="parameters" element="tns:GetGenderTypes"/>
    </message>
    <message name="GetGenderTypesResponse">
        <part name="parameters" element="tns:GetGenderTypesResponse"/>
    </message>
    <message name="GetRequestCategoryTypes">
        <part name="parameters" element="tns:GetRequestCategoryTypes"/>
    </message>
    <message name="GetRequestCategoryTypesResponse">
        <part name="parameters" element="tns:GetRequestCategoryTypesResponse"/>
    </message>
    <message name="GetLandGradeTypes">
        <part name="parameters" element="tns:GetLandGradeTypes"/>
    </message>
    <message name="GetLandGradeTypesResponse">
        <part name="parameters" element="tns:GetLandGradeTypesResponse"/>
    </message>
    <message name="GetSourceTypes">
        <part name="parameters" element="tns:GetSourceTypes"/>
    </message>
    <message name="GetSourceTypesResponse">
        <part name="parameters" element="tns:GetSourceTypesResponse"/>
    </message>
    <message name="GetChangeStatuTypes">
        <part name="parameters" element="tns:GetChangeStatuTypes"/>
    </message>
    <message name="GetChangeStatuTypesResponse">
        <part name="parameters" element="tns:GetChangeStatuTypesResponse"/>
    </message>
    <message name="saveReferenceData">
        <part name="parameters" element="tns:saveReferenceData"/>
    </message>
    <message name="saveReferenceDataResponse">
        <part name="parameters" element="tns:saveReferenceDataResponse"/>
    </message>
    <message name="OptimisticLockingFault">
        <part name="fault" element="tns:OptimisticLockingFault"/>
    </message>
    <message name="GetApplicationActionTypes">
        <part name="parameters" element="tns:GetApplicationActionTypes"/>
    </message>
    <message name="GetApplicationActionTypesResponse">
        <part name="parameters" element="tns:GetApplicationActionTypesResponse"/>
    </message>
    <message name="GetRequestTypes">
        <part name="parameters" element="tns:GetRequestTypes"/>
    </message>
    <message name="GetRequestTypesResponse">
        <part name="parameters" element="tns:GetRequestTypesResponse"/>
    </message>
    <message name="GetMortgageTypes">
        <part name="parameters" element="tns:GetMortgageTypes"/>
    </message>
    <message name="GetMortgageTypesResponse">
        <part name="parameters" element="tns:GetMortgageTypesResponse"/>
    </message>
    <message name="GetAvailabilityStatusList">
        <part name="parameters" element="tns:GetAvailabilityStatusList"/>
    </message>
    <message name="GetAvailabilityStatusListResponse">
        <part name="parameters" element="tns:GetAvailabilityStatusListResponse"/>
    </message>
    <message name="GetRRRGroupTypes">
        <part name="parameters" element="tns:GetRRRGroupTypes"/>
    </message>
    <message name="GetRRRGroupTypesResponse">
        <part name="parameters" element="tns:GetRRRGroupTypesResponse"/>
    </message>
    <message name="GetDisputeStatus">
        <part name="parameters" element="tns:GetDisputeStatus"/>
    </message>
    <message name="GetDisputeStatusResponse">
        <part name="parameters" element="tns:GetDisputeStatusResponse"/>
    </message>
    <message name="getTransactionTypes">
        <part name="parameters" element="tns:getTransactionTypes"/>
    </message>
    <message name="getTransactionTypesResponse">
        <part name="parameters" element="tns:getTransactionTypesResponse"/>
    </message>
    <message name="GetSourceBaUnitRelationTypes">
        <part name="parameters" element="tns:GetSourceBaUnitRelationTypes"/>
    </message>
    <message name="GetSourceBaUnitRelationTypesResponse">
        <part name="parameters" element="tns:GetSourceBaUnitRelationTypesResponse"/>
    </message>
    <message name="GetDisputeReports">
        <part name="parameters" element="tns:GetDisputeReports"/>
    </message>
    <message name="GetDisputeReportsResponse">
        <part name="parameters" element="tns:GetDisputeReportsResponse"/>
    </message>
    <message name="GetApplicationStatusTypes">
        <part name="parameters" element="tns:GetApplicationStatusTypes"/>
    </message>
    <message name="GetApplicationStatusTypesResponse">
        <part name="parameters" element="tns:GetApplicationStatusTypesResponse"/>
    </message>
    <message name="GetLandUseTypes">
        <part name="parameters" element="tns:GetLandUseTypes"/>
    </message>
    <message name="GetLandUseTypesResponse">
        <part name="parameters" element="tns:GetLandUseTypesResponse"/>
    </message>
    <message name="GetBaUnitTypes">
        <part name="parameters" element="tns:GetBaUnitTypes"/>
    </message>
    <message name="GetBaUnitTypesResponse">
        <part name="parameters" element="tns:GetBaUnitTypesResponse"/>
    </message>
    <message name="GetRegistrationStatusTypes">
        <part name="parameters" element="tns:GetRegistrationStatusTypes"/>
    </message>
    <message name="GetRegistrationStatusTypesResponse">
        <part name="parameters" element="tns:GetRegistrationStatusTypesResponse"/>
    </message>
    <message name="GetOtherAuthorities">
        <part name="parameters" element="tns:GetOtherAuthorities"/>
    </message>
    <message name="GetOtherAuthoritiesResponse">
        <part name="parameters" element="tns:GetOtherAuthoritiesResponse"/>
    </message>
    <message name="GetCommunicationTypes">
        <part name="parameters" element="tns:GetCommunicationTypes"/>
    </message>
    <message name="GetCommunicationTypesResponse">
        <part name="parameters" element="tns:GetCommunicationTypesResponse"/>
    </message>
    <message name="GetDisputeAction">
        <part name="parameters" element="tns:GetDisputeAction"/>
    </message>
    <message name="GetDisputeActionResponse">
        <part name="parameters" element="tns:GetDisputeActionResponse"/>
    </message>
    <message name="GetServiceStatusTypes">
        <part name="parameters" element="tns:GetServiceStatusTypes"/>
    </message>
    <message name="GetServiceStatusTypesResponse">
        <part name="parameters" element="tns:GetServiceStatusTypesResponse"/>
    </message>
    <message name="GetServiceActionTypes">
        <part name="parameters" element="tns:GetServiceActionTypes"/>
    </message>
    <message name="GetServiceActionTypesResponse">
        <part name="parameters" element="tns:GetServiceActionTypesResponse"/>
    </message>
    <portType name="ReferenceData">
        <operation name="GetRRRTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypesRequest" message="tns:GetRRRTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypesResponse" message="tns:GetRRRTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetIdTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypesRequest" message="tns:GetIdTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypesResponse" message="tns:GetIdTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetDeedTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDeedTypesRequest" message="tns:GetDeedTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDeedTypesResponse" message="tns:GetDeedTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDeedTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDeedTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDeedTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="getLegalTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getLegalTypesRequest" message="tns:getLegalTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getLegalTypesResponse" message="tns:getLegalTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getLegalTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getLegalTypes/Fault/UnhandledFault"/>
        </operation>
        <operation name="GetLeaseTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLeaseTypesRequest" message="tns:GetLeaseTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLeaseTypesResponse" message="tns:GetLeaseTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLeaseTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLeaseTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLeaseTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetPartyRoles">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRolesRequest" message="tns:GetPartyRoles"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRolesResponse" message="tns:GetPartyRolesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRoles/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRoles/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRoles/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetPartyTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypesRequest" message="tns:GetPartyTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypesResponse" message="tns:GetPartyTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="CheckConnection">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/CheckConnectionRequest" message="tns:CheckConnection"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
        </operation>
        <operation name="GetPresentationFormTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypesRequest" message="tns:GetPresentationFormTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypesResponse" message="tns:GetPresentationFormTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetParcelJurisdictionTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetParcelJurisdictionTypesRequest" message="tns:GetParcelJurisdictionTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetParcelJurisdictionTypesResponse" message="tns:GetParcelJurisdictionTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetParcelJurisdictionTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetParcelJurisdictionTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetParcelJurisdictionTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="getApplicationForms">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getApplicationFormsRequest" message="tns:getApplicationForms"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getApplicationFormsResponse" message="tns:getApplicationFormsResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getApplicationForms/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getApplicationForms/Fault/UnhandledFault"/>
        </operation>
        <operation name="GetCadastreObjectTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypesRequest" message="tns:GetCadastreObjectTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypesResponse" message="tns:GetCadastreObjectTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetDisputeCategory">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeCategoryRequest" message="tns:GetDisputeCategory"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeCategoryResponse" message="tns:GetDisputeCategoryResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeCategory/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeCategory/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeCategory/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetApplicationStageTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStageTypesRequest" message="tns:GetApplicationStageTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStageTypesResponse" message="tns:GetApplicationStageTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStageTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStageTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStageTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetBrTechnicalTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypesRequest" message="tns:GetBrTechnicalTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypesResponse" message="tns:GetBrTechnicalTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetRoadClassType">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRoadClassTypeRequest" message="tns:GetRoadClassType"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRoadClassTypeResponse" message="tns:GetRoadClassTypeResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRoadClassType/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRoadClassType/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRoadClassType/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="getApplicationForm">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getApplicationFormRequest" message="tns:getApplicationForm"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getApplicationFormResponse" message="tns:getApplicationFormResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getApplicationForm/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getApplicationForm/Fault/UnhandledFault"/>
        </operation>
        <operation name="GetBrValidationTargetTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypesRequest" message="tns:GetBrValidationTargetTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypesResponse" message="tns:GetBrValidationTargetTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetBrSeverityTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypesRequest" message="tns:GetBrSeverityTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypesResponse" message="tns:GetBrSeverityTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetBaUnitRelTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypesRequest" message="tns:GetBaUnitRelTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypesResponse" message="tns:GetBaUnitRelTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetTypeActions">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActionsRequest" message="tns:GetTypeActions"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActionsResponse" message="tns:GetTypeActionsResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActions/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActions/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActions/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetDisputeType">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeTypeRequest" message="tns:GetDisputeType"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeTypeResponse" message="tns:GetDisputeTypeResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeType/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeType/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeType/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetGenderTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypesRequest" message="tns:GetGenderTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypesResponse" message="tns:GetGenderTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetRequestCategoryTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypesRequest" message="tns:GetRequestCategoryTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypesResponse" message="tns:GetRequestCategoryTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetLandGradeTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandGradeTypesRequest" message="tns:GetLandGradeTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandGradeTypesResponse" message="tns:GetLandGradeTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandGradeTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandGradeTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandGradeTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetSourceTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypesRequest" message="tns:GetSourceTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypesResponse" message="tns:GetSourceTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetChangeStatuTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypesRequest" message="tns:GetChangeStatuTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypesResponse" message="tns:GetChangeStatuTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="saveReferenceData">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceDataRequest" message="tns:saveReferenceData"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceDataResponse" message="tns:saveReferenceDataResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/SOLAAccessFault"/>
            <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/OptimisticLockingFault"/>
        </operation>
        <operation name="GetApplicationActionTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypesRequest" message="tns:GetApplicationActionTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypesResponse" message="tns:GetApplicationActionTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetRequestTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypesRequest" message="tns:GetRequestTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypesResponse" message="tns:GetRequestTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetMortgageTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypesRequest" message="tns:GetMortgageTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypesResponse" message="tns:GetMortgageTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetAvailabilityStatusList">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusListRequest" message="tns:GetAvailabilityStatusList"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusListResponse" message="tns:GetAvailabilityStatusListResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusList/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusList/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusList/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetRRRGroupTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypesRequest" message="tns:GetRRRGroupTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypesResponse" message="tns:GetRRRGroupTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetDisputeStatus">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeStatusRequest" message="tns:GetDisputeStatus"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeStatusResponse" message="tns:GetDisputeStatusResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeStatus/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeStatus/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeStatus/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="getTransactionTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getTransactionTypesRequest" message="tns:getTransactionTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getTransactionTypesResponse" message="tns:getTransactionTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getTransactionTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getTransactionTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getTransactionTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetSourceBaUnitRelationTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypesRequest" message="tns:GetSourceBaUnitRelationTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypesResponse" message="tns:GetSourceBaUnitRelationTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetDisputeReports">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeReportsRequest" message="tns:GetDisputeReports"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeReportsResponse" message="tns:GetDisputeReportsResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeReports/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeReports/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeReports/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetApplicationStatusTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypesRequest" message="tns:GetApplicationStatusTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypesResponse" message="tns:GetApplicationStatusTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetLandUseTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypesRequest" message="tns:GetLandUseTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypesResponse" message="tns:GetLandUseTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetBaUnitTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypesRequest" message="tns:GetBaUnitTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypesResponse" message="tns:GetBaUnitTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetRegistrationStatusTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypesRequest" message="tns:GetRegistrationStatusTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypesResponse" message="tns:GetRegistrationStatusTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetOtherAuthorities">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOtherAuthoritiesRequest" message="tns:GetOtherAuthorities"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOtherAuthoritiesResponse" message="tns:GetOtherAuthoritiesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOtherAuthorities/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOtherAuthorities/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetOtherAuthorities/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetCommunicationTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypesRequest" message="tns:GetCommunicationTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypesResponse" message="tns:GetCommunicationTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetDisputeAction">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeActionRequest" message="tns:GetDisputeAction"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeActionResponse" message="tns:GetDisputeActionResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeAction/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeAction/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetDisputeAction/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetServiceStatusTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypesRequest" message="tns:GetServiceStatusTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypesResponse" message="tns:GetServiceStatusTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypes/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetServiceActionTypes">
            <input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypesRequest" message="tns:GetServiceActionTypes"/>
            <output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypesResponse" message="tns:GetServiceActionTypesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypes/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypes/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypes/Fault/SOLAAccessFault"/>
        </operation>
    </portType>
    <binding name="ReferenceDataPortBinding" type="tns:ReferenceData">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetRRRTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetIdTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetDeedTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getLegalTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetLeaseTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetPartyRoles">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetPartyTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="CheckConnection">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetPresentationFormTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetParcelJurisdictionTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getApplicationForms">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetCadastreObjectTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetDisputeCategory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetApplicationStageTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetBrTechnicalTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetRoadClassType">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getApplicationForm">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetBrValidationTargetTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetBrSeverityTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetBaUnitRelTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetTypeActions">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetDisputeType">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetGenderTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetRequestCategoryTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetLandGradeTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetSourceTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetChangeStatuTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="saveReferenceData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
            <fault name="OptimisticLockingFault">
                <soap:fault name="OptimisticLockingFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetApplicationActionTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetRequestTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetMortgageTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetAvailabilityStatusList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetRRRGroupTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetDisputeStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getTransactionTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetSourceBaUnitRelationTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetDisputeReports">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetApplicationStatusTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetLandUseTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetBaUnitTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetRegistrationStatusTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetOtherAuthorities">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetCommunicationTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetDisputeAction">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetServiceStatusTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetServiceActionTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="referencedata-service">
        <port name="ReferenceDataPort" binding="tns:ReferenceDataPortBinding">
            <soap:address location="http://localhost:8080/sola/webservices/referencedata-service"/>
        </port>
    </service>
    <wsp:Policy wsu:Id="ReferenceDataPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>

